.big-container {
  height:90vh;
  background-color: #A8A6A6;
  width: 1515px;
}

.featured-container {
  padding: 20px;
  background-color: #FFF9F0;
  width: 1420px;
  display: block;
  justify-content: flex-start;
  border: 2px;
  height: auto;
  padding: 5px 5px 5px 5px;
  margin-left:38px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: rgb(28, 58, 28);
  margin-left: 50px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 10px; */
  width: 100%;
}

.pagination {
  display: flex;
  justify-content:flex-end;
  align-items:right;
  margin-top: 20px;
  text-align: right;
}

.pagination-button {
  background-color: #ddd;
  border: none;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  text-align: right;
}

.pagination-button:disabled {
  cursor: not-allowed;
}

.page-number {
  font-size: 16px;
}
