 .bplanet-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #FFF9F0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  width: 90%;
  margin-left: 60px;
  position: relative;
}

.bplanet-profile-card {
  background-color: #FFF9F0;
  width: 700px;
  padding: 20px;
  text-align: center;
  position: relative;
  border: 4px solid #b38f8f;
}

.bplanet-profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 4px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bplanet-profile-container h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #000000;
  font-weight: 500;
}

.bplanet-profile-detail {
  margin-bottom: 20px;
  text-align: left;
  position: relative;
}

.bplanet-profile-detail label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #000000;
}

.bplanet-text-area {
  background-color: rgb(208, 207, 207);
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  font-size: 16px;
  color: #000000;
  width: 100%;
  box-sizing: border-box;
}

.bplanet-text-area input {
  width: 100%;
  border: none;
  background-color: rgb(208, 207, 207);
  font-size: 16px;
  color: #000000;
}

.bplanet-button {
  background-color: #d1c0a9;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.bplanet-button:hover {
  background-color: #b19b7f;
}

.prp h2 {
  margin-left: 55px;
  font-size: 40px;
  font-weight: 500;
}

.prp {
  background-color: #A8A6A6;
  margin-top: -25px;
}

.bplanet-button1 {
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  margin-right: -630px;
}

.bplanet-button1:hover {
  background-color: #b19b7f;
}

.contact-us9 {
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
  background-color: #FFF9F0;
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius:25px;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  margin-right: 50px;
}

.contact-us:hover {
  background-color: #d1c0a9;
  color: #000;
}
